:root {
    --primary-color: #d62d20;
    --secondary-color: #000000;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px; /* Espaço para o header */
}

header {
    background-color: var(--primary-color);
    color: white;
    padding: 20px;
    text-align: center;
    width: 100%;
    position: fixed; /* Fixa o header no topo */
    top: 0;
    left: 0;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
    font-size: 36px;
    text-shadow: black 0.10em 0.1em 0.2em;
    z-index: 1; /* Garante que o header fique acima de outros conteúdos */
}

.buttons-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    transition: all 0.3s ease;
}

button {
    padding: 20px 30px;
    background-color: var(--primary-color);
    color: white;
    border: 1px solid black;
    border-radius: 30px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 90%;
}

button:hover {
    background-color: white;
    color: var(--primary-color);
    transform: translate(0, -5px);
}

@media screen and (max-width: 768px) {
    body {
        padding-top: 10px; /* Espaço menor para o header em dispositivos móveis */
    }

    header {
        font-size: 24px; /* Diminuir o tamanho do texto do header em dispositivos móveis */
    }
}

@media (min-width: 769px) and (max-width: 1366px) {
    .buttons-container {
        padding-bottom: 50%;
        flex-direction: row;
        flex-wrap: wrap;
    }

    button {
        font-size: 30px;
        padding: 30px 40px;
    }

    header {
        font-size: 32px;
    }
}

@media (min-width: 1367px) {
    .buttons-container {
        
        flex-direction: row;
        flex-wrap: wrap;
    }

    button {
        font-size: 40px;
        padding: 40px 60px;
    }

    header {
        font-size: 40px;
    }
}
